*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,
body{
    overflow-x:hidden;
}
body{
    background:#f7f7f7;
}
a{
    text-decoration:none;
}
img{
    display:block;
    max-width: 100%;
}
.container{
    display:flex;
    width:100%;
    min-height:100vh;
}
.sidebar{
    width:250px;
    background:#222;
    padding:30px 25px;
    display:flex;
    flex-direction:column;
     height:fit-content;
}
.menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:55px;
}
.logo{
    color:#fff;
    font-size:28px;
    font-weight:bold;
}
.logo span{
    color:#bfbfbf;
    font-weight:400;
}
.menu a{
    color:#7d7d7d;
}
.menu-icon{
    font-size:28px;
}
nav{
    display:flex;
    flex-direction:column;
    gap:12px;
}
nav a{
    display:flex;
    align-items:center;
    gap:15px;
    color:#bdbdbd;
    padding:15px 18px;
    border-radius:12px;
    transition:.3s;
}
nav a:first-child{
    background:#ff2e8b;
    color:#fff;
}
nav a:hover{
    background:#ff2e8b;
    color:#fff;
}
nav span{
    font-size:20px;
}
.following{
    margin-top:70px;
}
.following h5{
    color:#808080;
    margin-bottom:25px;
    font-size:12px;
    letter-spacing:1px;
}
.person{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:18px;
}
.person img{
    width:38px;
    height:38px;
    border-radius:50%;
    object-fit:cover;
}
.person p{
    color:#d8d8d8;
    font-size:14px;
}
.load-more{
    margin-top:18px;
    background:none;
    border:none;
    color:#9f9f9f;
    cursor:pointer;
    font-size:14px;
    text-align:left;
}
.load-more:hover{
    color:#fff;
}
.content{
    flex:1;
    background:#fff;
    min-width: 0;
}
header{
    height:90px;
    padding:25px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fff;
}
.search-box{
    position:relative;
    width:420px;
}
.search-box input{
    width:100%;
    height:45px;
    border:none;
    outline:none;
    background:#f5f5f5;
    border-radius:10px;
    padding:0 50px 0 18px;
    font-size:14px;
    color:#555;
}
.search-box input::placeholder{
    color:#b8b8b8;
}
.search-icon{
    position:absolute;
    right:18px;
    top:50%;
    transform:translateY(-50%);
    color:#888;
    cursor:pointer;
}
.header-icons{
    display:flex;
    align-items:center;
    gap:18px;
}
.header-icons p{
    color:#ff2e8b;
    font-size:13px;
    font-weight:600;
}
.header-icons a{
    color:#555;
    display:flex;
    align-items:center;
}
.header-icons span{
    font-size:20px;
}
.header-icons img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}
.upload-btn{
    border:none;
    background:#ff2e8b;
    color:#fff;
    padding:12px 28px;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.upload-btn:hover{
    background:#ff197f;
}
main{
    padding:35px 40px;
}
.category-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}
.categories{
    display:flex;
    align-items:center;
    gap:12px;
}
.categories a{
    color:#666;
    font-size:14px;
    padding:10px 18px;
    border-radius:10px;
    transition:.3s;
}
.categories a:hover{
    background:#f2f2f2;
}
.categories .active{
    background:#f2f2f2;
    color:#222;
    font-weight:600;
}
.filter-button{
    display:flex;
    align-items:center;
    gap:8px;
    background:#fff;
    border:1px solid #ececec;
    border-radius:10px;
    padding:10px 18px;
    color:#555;
    cursor:pointer;
    transition:.3s;
}
.filter-button:hover{
    background:#f5f5f5;
}
.filter-button span{
    font-size:20px;
}
.card-section{
    width:100%;
}
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:28px;
}
.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:15px;
}
.card p{
    margin-top:12px;
    font-size:15px;
    line-height:22px;
    color:#444;
    font-weight:500;
    margin-left:25px ;
}
.more{
    display:flex;
    justify-content:center;
    margin:45px 0 60px;
}
.more button{
    width:170px;
    height:48px;
    border:none;
    border-radius:12px;
    background:#f3f3f3;
    color:#777;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}
.more button:hover{
    background:#e8e8e8;
    color:#222;
}
.top-designer{
    margin-top:60px;
}
.view-all{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}
.designer{
    font-size:24px;
    color:#222;
    font-weight:700;
}
.view-all a{
    color:#999;
    font-size:15px;
    transition:.3s;
}
.view-all a:hover{
    color:#ff2e8b;
}
.designer-list{
    width:100%;
}
.all-img{
    display:grid;
    grid-template-columns:repeat(8,minmax(0,1fr));
    gap:10px;
}
.all-img div{
    background:#fff;
    text-align:center;
    border-radius:18px;
    padding:25px 20px;
}
.all-img img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
    margin:0 auto 18px;
}
.all-img p{
    font-size:16px;
    font-weight:600;
    color:#222;
    margin-bottom:8px;
}
.all-img a{
    display:block;
    font-size:14px;
    color:#888;
    margin-bottom:18px;
     min-height:20px;

}
.all-img button{
    border:none;
    background:#F2F2F2;
    color:#222222;
    padding: 10px 28px;
    border-radius:25px;
    cursor:pointer;
    font-size:14px;
    margin-top:auto;
}
.footer{
    width:100%;
    padding:70px 100px 30px;
    background:#fff;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    max-width:900px;
    margin:0 auto;
}
.footer-column{
    display:flex;
    flex-direction:column;
    gap:14px;
}
.footer-column h4{
    font-size:14px;
    color:#333;
    font-weight:600;
    margin-bottom:15px;
}
.footer-column a{
    text-decoration:none;
    color:#777;
    font-size:13px;
    transition:.3s;
}
.footer-column a:hover{
    color:#ff2e8b;
}
.footer-bottom{
    max-width:900px;
    margin:70px auto 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.social{
    display:flex;
    gap:15px;
}
.social a{
    width:20px;
    height:20px;
    color:#777;
    font-size:13px;
    text-decoration:none;
}
.footer-bottom p{
    font-size:12px;
    color:#999;
}
.light{
    color:#aaa;
}
.dark{
    color:#222;
    font-weight:700;
}